
/* COLOUR SETTINGS */
a {color: DarkGreen;} 
a:visited {color: black;}
a:hover {color: LimeGreen; } 
a.nonexistent, a.badinterwiki {color: Slategray;} 
h1 { color: DarkGreen; }
h1 a, h1 a:visited { color: DarkGreen;}
h1 a:hover {color: LimeGreen; } 
h2, h3, h4, h5, h6 { color: DarkGreen; }	
h2, h3 { border-bottom: 2px solid DarkGreen; }
dt { border-bottom: 1px solid DarkGreen; }
pre {
	border: 1px dashed DarkGreen;
	background-color: Ghostwhite;
}
input {
    border: 1px Teal solid;
    background-color: #F1F1ED; 
    color: Black;
}
textarea, input[type=text], input[type=password] {
    border: solid 1px DarkGreen;
	background: #F1F1ED; 
	color: Darkolivegreen;
}
select, option {
	background: #F1F1ED; 
	color: DarkGreen;
}
#sisternav a , #sisternav a:hover, #sisternav li:hover, 
#sisternav li:hover a, #sisternav #current a, 
	#sisternav #current a:hover  { color: black; }
#username a:hover {color: Lightgreen; } 
#username li a { color: DarkGreen; }
#sisternav #current a { color: black; }
#sisternav #current a:hover { color: black;}
#pagetrail a { color: DarkGreen; }
#pagetrail li:after { 	color: DarkGreen; }
*[dir="rtl"] #pagetrail li:after {	color: DarkGreen; }
#navibar li.userlink { background: #F1F1ED; }
#navibar a, #navibar a:visited { color: black;}
#navibar li.current a { color: DarkGreen;}
#navibar li:hover { background: black; }
#navibar li.current, #navibar li.current:hover { color: DarkGreen;}
#pageline {
	border-bottom: 1px solid #9C9C9C;
	background: DarkGreen;
}
.editbar select {
    border: solid 1px DarkGreen;
	background: white;
	color: Seagreen;
}
.editbar option {
	background: #F1F1ED; 
	color: DarkGreen;
}
.editbar li {	color: DarkGreen; }
#header .editbar { color: DarkGreen; }
.extranav li { 	color: Seagreen;}
.extranav li { color: Seagreen;}
.editbar a, .editbar a:visited { color: Seagreen;} 
.editbar a:hover {color: LimeGreen; } 
.extranav a, .extranav a:visited { color: Seagreen;} 
.extranav a:hover {color: LimeGreen; } 
td { 
	border-top: 1px solid Slategray; 
	border-bottom: 1px solid Slategray; 
	border-right: 0px solid black;
	border-left: 0px solid black;
	}
.footnotes div { border-top: 1pt solid DarkGreen;}
.info { color: DarkGreen; }
.seperator { color: DarkGreen; }
hr { background-color: DarkGreen; }
strong.highlight { background-color: Ghostwhite; }
.recentchanges table { color: Seagreen; }
.recentchanges td {
	border-bottom: 1pt solid Darkkhaki;
	background: white;
}
.rcdaybreak td { background: Beige; }
.rcdaybreak td a { color: Seagreen; }
.rctime { color: Darkgray; }
.rceditor { color: Darkgray; }
.rccomment { color: DarkGreen;}
#preview { border-top: 8px solid DarkGreen; }
#footer { background: Darkkhaki; }
#credits, #version, #timings{ color: #6C7680; }
#message { 
	border-bottom: 1px solid DarkGreen;
	background: Palegoldenrod; 
}
form.dialog {
    border: solid 1px DarkGreen;
    background-color: white; 
    color: DarkGreen;
}
.dialog form {
    border: solid 1px DarkGreen;
    background-color: white; 
    color: DarkGreen;
}
.diff-title { 
	background-color: Olivedrab;
	color: white;
 }
.diff-added { background-color: white; }
.diff-removed { background-color: white; }
.diff-added span { background-color: Greenyellow; }
.diff-removed span {	background-color: Lightcoral; }
div.codearea { 
	border: 1pt solid DarkGreen;
	background-color: Ghostwhite;
	color: black;
}
a.codenumbers { color: DarkGreen; }
td.cal-workday { background-color: Ghostwhite; }
td.cal-weekend {  background-color: Ghostwhite; }
th.cal-header {
    background-color: DarkGreen;
    color: white;
}
TABLE.tip {
    color: black;
	border: 1px solid Lightgreen;
	background-color: Ghostwhite;
}
TH.tip {
    background-color: Ghostwhite;
}
